body {
	font-family: courier;
}

a {
	border-style: dotted;
}
a:link {
	color: orange;
}
a:visited {
	color: cyan;
}
a:hover {
	color: red;
}
a:active {
	color: blue;
}

nav > a {
	font-size: 25px;
}

#para1
{
	text-align: center;
    color: red;
}

.center {
    text-align: center;
    color: purple;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
	color: grey;
}
